<a href="https://colab.research.google.com/github/ajaywhitedevil/python.py/blob/main/12_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Python program to display all the prime numbers within an interval
lower = 900
upper = 1000

print("prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1 ):
  if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
           break
    else:
        print(num)

prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [28]:
# Multiplication table (from 1 to 20) in Python
num = 15
for i in range(1, 21):
  print(num,"x", i, "=", num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
15 x 20 = 300

In [14]:
# Sum of natural numbers up to num

num = 14

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 105

In [17]:
#Python Program to Slice Lists
my_list = [1, 3, 5, 7, 11, 13,17]
print(my_list[:])

[1, 3, 5, 7, 11, 13, 17]

In [24]:
#Python Program to Convert String to Datetime

from dateutil import parser

date_time = parser.parse(" April 12 2022 04:22PM")

print(date_time)
print(type(date_time))

2022-04-12 16:22:00
<class 'datetime.datetime'>

In [26]:
#Python Program to Remove Duplicate Element From a List

list_1 = [1, 4, 6, 7, 9]

print(list(set(list_1)))

[1, 4, 6, 7, 9]